&encoder_right {
    status = "okay";
    /* a-gpios = <&pro_micro YOUR_A_PIN (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>; */
    /* b-gpios = <&pro_micro YOUR_B_PIN (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>; */
    triggers-per-rotation = <30>;
};

/ {
    aliases {
        right_encoder = &encoder_right;
    };
};
