/ {
    sensors {
        left_config: left_config {
            compatible = "zmk,rotary-encoder";
            triggers-per-rotation = <30>;
        };

        right_config: right_config {
            compatible = "zmk,rotary-encoder";
            triggers-per-rotation = <30>;
        };
    };
};

/* Now bind your sensors to the encoder instances */
&encoder_left {
    sensor = <&left_config>;
};

&encoder_right {
    sensor = <&right_config>;
};
