/*
 * Copyright (c) 202X The ZMK Contributors // Update year and author if you wish
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h> // Include if you have other common overlays, may not be needed for just sensors

&sensors { // This targets the node labeled 'sensors'. If your board uses a different label for the sensor controller, use that (e.g., &qdec).
    left_config { // Or the specific node name for your left encoder if different
        triggers-per-rotation = <30>;
    };

    right_config { // Or the specific node name for your right encoder if different
        triggers-per-rotation = <30>;
    };
};
