/ {
    /* Override just the triggers-per-rotation on the existing sensors node */
    sensors: sensors {
        triggers-per-rotation = <30>;
    };
};

/* Also enable each encoder and (optionally) override its own steps */
&encoder_left {
    status = "okay";
       steps = <30>;  
};

&encoder_right {
    status = "okay";
    steps = <30>;
};
