
/ {
    /* after all shield/layout overlays, force our desired trigger count */
    sensors: sensors {
        triggers-per-rotation = <30>;
    };
};

/* also enable the encoders by their real labels */
&encoder_left  { status = "okay"; };
&encoder_right { status = "okay"; };
